<Layout name = "Index/header_footer"/>
<form name="main_form" method="post" action="__SELF__" enctype="multipart/form-data">
	商品名称:<input type="text" name="goods_name" /><br />
	商品价格:<input type="text" name="price" /><br />
	商品logo:<input type="file" name="logo" /><br />
	商品描述:<textarea name="goods_desc" id="goods_desc"></textarea><br />
	是否上架:
	<input type="radio" name="is_on_sale" value="1" checked="checked" />上架
	<input type="radio" name="is_on_sale" value="0" />下架
	<br />
	<input type="submit" value="提交" />
	<a href="<?php echo U('lst'); ?>">列表</a>
</form>
</body>
</html>
<script>
UE.getEditor('goods_desc', {
	"initialFrameWidth" : "100%",  // 宽
	"initialFrameHeight" : 350,     // 高
	"maximumWords" : 50000             // 最可以输入的字符数
});
// 使用ajax提交表单
// $("form[name='main_form']").submit(function (){
// 	$.ajax({
// 		type : "POST",
// 		url : "__SELF__",
// 		data : $(this).serialize(), //收集表单中的数据
// 		dataType : "json",  //标记服务器返回的是JSON数据
// 		success : function(data){   //ajax执行完之后的回调函数
// 			//判断添加是否成功
// 			alert(data);
// 			if(data.status == 1){
// 				alert(data.info);
// 				locate.href = data.url;
// 			}else{
// 				alert(data.info);
// 			}
// 		}
// 	});
// 	//阻止表单提交
// 	return false;
// });
</script>